    GLOBAL_SETTINGS
    LAB_MASTER_SEED iptables-lb_student_master_seed
NETWORK PUBLIC
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.100
NETWORK PRIVATE
     MASK 172.30.0.0/24
     GATEWAY 172.30.0.10
CONTAINER client
     USER ubuntu
     X11 YES
     PUBLIC 192.168.1.20
CONTAINER server1
     USER ubuntu
     X11 YES
     PRIVATE 172.30.0.20
CONTAINER server2
     USER ubuntu
     X11 YES
     PRIVATE 172.30.0.30
CONTAINER firewall
     USER ubuntu
     X11 YES
     PRIVATE 172.30.0.1
     PUBLIC 192.168.1.1
