    GLOBAL_SETTINGS
    GRADE_CONTAINER client
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED iptables_mike_master_seed
NETWORK CLIENT_NET
     MASK 172.24.0.0/24
     GATEWAY 172.24.0.101
NETWORK SERVER_NET
     MASK 172.25.0.0/24
     GATEWAY 172.25.0.101
CONTAINER client
     USER ubuntu
     X11 NO
     CLIENT_NET 172.24.0.2
CONTAINER server
     USER ubuntu
     X11 NO
     SERVER_NET 172.25.0.3
CONTAINER firewall
     USER ubuntu
     X11 NO
     SERVER_NET 172.25.0.4
     CLIENT_NET 172.24.0.4
