    GLOBAL_SETTINGS
    LAB_MASTER_SEED iptables-nat_student_master_seed
NETWORK PRIVATE
     MASK 192.168.100.0/24
     GATEWAY 192.168.100.1
NETWORK PUBLIC
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER client
     USER ubuntu
     X11 YES
     PRIVATE 192.168.100.20
     LAB_GATEWAY 192.168.100.1
CONTAINER server
     USER ubuntu
     X11 YES
     PUBLIC 172.20.0.10
     LAB_GATEWAY 172.20.0.1
CONTAINER router
     USER ubuntu
     X11 YES
     PUBLIC 172.20.0.30
     PRIVATE 192.168.100.30
