    GLOBAL_SETTINGS
    GRADE_CONTAINER mycomputer
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED nmap-discovery_chris_master_seed
NETWORK INTRANET
     MASK 172.25.0.0/16
     GATEWAY 172.25.1.101
CONTAINER mycomputer
     USER ubuntu
     X11 NO
     INTRANET 172.25.0.2
CONTAINER friedshrimp
     USER ubuntu
     X11 NO
     TERMINALS -1
     INTRANET 172.25.0.5
