    GLOBAL_SETTINGS
    GRADE_CONTAINER mycomputer
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED nmap-testing_chris_master_seed
NETWORK SERVER_NETWORK
     MASK 172.25.0.0/24
     GATEWAY 172.25.0.101
NETWORK CLIENT_NETWORK
     MASK 172.24.0.0/24
     GATEWAY 172.24.0.101
CONTAINER mycomputer
     USER analyst
     X11 NO
     CLIENT_NETWORK 172.24.0.2
CONTAINER client
     USER ubuntu
     X11 NO
     TERMINALS -1
     CLIENT_NETWORK 172.24.0.1
CONTAINER tserver
     USER ubuntu
     X11 YES
     TERMINALS -1
     SERVER_NETWORK 172.25.0.1
CONTAINER pserver
     USER ubuntu
     X11 NO
     TERMINALS -1
     SERVER_NETWORK 172.25.0.2
CONTAINER router
     USER analyst
     X11 NO
     CLIENT_NETWORK 172.24.0.3
     SERVER_NETWORK 172.25.0.3
